.footer {
  position: relative;
  &-schedule {
    font-size: 12px;
    height: 60px;
    line-height: 14.4px;
    flex-wrap: wrap;
    display: flex;
    color: #ffffff;
    background-color: #00344c;
    padding: 8px 0 24px 0;
    &-timeworking {
      width: 400px;
    }
    &-phonenumber {
      display: flex;
      h3 {
        line-height: 14.4px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 13px 20.5px;
        margin: 2px 0 10px 0;
        i {
          width: 16px;
          height: 16px;
          margin-right: 16px;
        }
      }
    }
    & .spacing {
      letter-spacing: 5%;
      margin: 0 16px;
    }
  }
  &-contact {
    height: 258px;
    background-color: #b69046;
    .footer-contact-icon {
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      padding: 64px 0 34px 0;
      & .fa-brands {
        color: white;
        padding: 0 24px;
      }
      &-one i {
        width: 30px;

        height: 30px;
      }
    }
  }
  &-menu {
    &-nav {
      display: flex;
      font-size: 14px;
      line-height: 21px;
      list-style: none;

      font-weight: 400;
      & .footer-nav-item a {
        color: #fff;
        margin: 0 25px;
      }
    }
  }
  &-copy-infor {
    text-align: center;
    margin-top: 61px;
    line-height: 16.34px;
    font-size: 13px;
    color: #fff;
  }
}
@media screen and (max-width: 1000px) {
  .footer {

    &-menu {
      &-nav {
        margin-left: -20px;
        display: flex;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        & .footer-nav-item a {
          color: #fff;
          margin: 0 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .footer {
    &-schedule {
      font-size: 10px;
    }
    &-menu {
      &-nav {
        display: flex;
        font-size: 12px;
        & .footer-nav-item a {
        }
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .footer {
    position: relative;
    &-schedule {
      height: 60px;
      background-color: #00344c;
    }
  }
}
@media screen and (max-width: 627px) {
  .footer {
    position: relative;
    &-schedule {
      height: 125px;
      background-color: #00344c;
    }
  }
}
@media screen and (max-width: 510px) {
  .footer-menu{
    display: none;
  }
}
