
// sass ./sass/app.scss ./css/app.css --watch
// gõ dòng lệnh này để run sass

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    // list-style: none;
    justify-content: center;

}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

body{
    // background-image: linear-gradient(#060606,#323438);

    // line-height: 1;

}