@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
//---------
$gray0: #F6F8FF;
$transitin: all .3s;

body {

  font-family: 'Roboto', sans-serif;
}




.container-tab {
  margin-top: 87px;
  padding: 10px 0;
  text-align: center;
  .card {
    max-width: 785px;
    font-family: 'Poppins', sans-serif;
    height: 1197px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
  }
}
.all-policies{
  color: black;
  li{
    font-weight: 400;
  }
}

.tabs {
  text-align: center;
  position: relative;
  input {
    position: absolute;
    opacity: 0;
  }
  input + label {
    font-weight: 300;
    color: #A5A5A5;
    font-weight: 400;
    margin: 9px 20px;
    width: 218px;
    cursor: pointer;
    display:inline-block;
    transition: $transitin;
    text-align: center;
    font-size: 18px;
    &:hover {
      color: #777;
    }
  }
  .item{
  }
  
  .tabsShadow {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 4%);
    box-sizing: border-box;
    position: absolute;
    height: 35px;
    z-index: 0;
    top: 0;
    pointer-events: none;
  }
  
}

@media screen and (max-width: 600px) {
  .all-policies{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 28; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.container-tab {
  .card {
    
    min-height: 297px;
  }
}

}

.content {
  margin: 20px auto;
  padding: 10px 20px;
  text-align: left;
  color: #666;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  height: 200px;
  .item {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    position: absolute;
  }
  p {
    margin: 10px 0;
  }
}
.tab:checked + label {
  color: #CB9D37;
  font-weight: bold;
}
.glider{
  width: 159px;
  height: 3px;
  background-color: #001A31;
  border-radius: 3px;
  position: absolute;
  height: 3px;
  transition: $transitin;
}
#tab-1:checked ~ .glider{
  left: 150px;
  width: 190px;
} 
#tab-2:checked ~ .glider{
  left: 440px;
  width: 190px;
} 

#tab-1:checked ~ section #content-1,
#tab-2:checked ~ section #content-2,
#tab-3:checked ~ section #content-3,
#tab-4:checked ~ section #content-4 {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 860px) {
  #tab-1:checked ~ .glider{
    left: 150px;
    width: 190px;
  } 
  #tab-2:checked ~ .glider{
    justify-content: center;
    align-items: center;
    width: 190px;
  } 
}
@media screen and (max-width: 778px) {
  #tab-1:checked ~ .glider{
    left: 130px;
    width: 150px;
  } 
  #tab-2:checked ~ .glider{

  } 
  
}
@media screen and (max-width: 713px) {
  #tab-1:checked ~ .glider{
    left: 100px;
    width: 150px;
  } 
  #tab-2:checked ~ .glider{
  
  } 
  
}
@media screen and (max-width: 700px) {
  #tab-1:checked ~ .glider{
    justify-content: center;
    align-items: center;
    width: 150px;
  } 
  #tab-2:checked ~ .glider{
    justify-content: center;
    align-items: center;
    width: 190px;
  } 
}
@media screen and (max-width: 651px) {
  #tab-1:checked ~ .glider{
    left: 90px;
    width: 100px;
  } 
  #tab-2:checked ~ .glider{

  } 
  
}
@media screen and (max-width: 763px) {
  #tab-2:checked ~ .glider{
    left: 420px;
    width: 150px;
  } 
}
@media screen and (max-width: 681px) {
  #tab-2:checked ~ .glider{
    left: 390px;
    width: 150px;
  } 
}
@media screen and (max-width: 630px) {
  #tab-2:checked ~ .glider{
    left: 350px;
    width: 150px;
  } 
}
@media screen and (max-width: 625px) {
  .glider{
    display: none;
  }
}
.main-title{
  font-weight: 700;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}
.sub-title{
  font-size: 16px;
}